
# Cartesapp Framework settings

# Files with definitions to import
FILES = ['{{file_name}}'] # * Required

# Index outputs in inspect indexer queries
INDEX_OUTPUTS = True # Defaul: False

# Index inputs in inspect indexer queries
INDEX_INPUTS = True # Defaul: False

# Enable endpoint to accept portal deposits and also add withdraw and transfer endpoints
# ENABLE_WALLET = False # Defaul: False

# Path dir to database
# STORAGE_PATH = None # Default: 'data' store at 'data' drive (/mnt/data)

# Case insensitivity for like queries
# CASE_INSENSITIVITY_LIKE = False

# List of endpoints to disable (useful for cascading)
# DISABLED_ENDPOINTS = []

# List of modules to disable outputs  (useful for cascading)
# DISABLED_MODULE_OUTPUTS = []

# Input Formats
# QUERY_FORMAT = 'json' # 'url', 'json', 'jsonrpc'

# Output Formats
# REPORT_FORMAT = 'json' # 'json', 'header_abi', 'abi', 'packed_abi'
# NOTICE_FORMAT = 'header_abi' # 'header_abi', 'abi', 'packed_abi'
